{% load static %}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>UBuy
	</title>
	<!-- Template CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/style-starter.css' %}">

	<link rel="stylesheet" href="{% static 'assets/css/css.css' %}">



	<!-- Template CSS -->



	<!-- Template CSS -->
</head>
<script>
	$(document).ready(function()
	{
	   $("#Slider1").slider(
	   {
		  orientation: 'horizontal',
		  animate: true,
		  range: false,
		  min: 1,
		  max: 100,
		  value: 1
	   });
	});
</script>
<body style="background-color: #F5F5F5;"  class="cbp-spmenu-push">

	<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left"  id="cbp-spmenu-s1">

		<ul>
			<li><div>
				<section   class="wn3l-main-slider position-relative" >
					<div class="companies20t-content">
						<div  class="owl-one owl-carousel owl-theme">
							<div class="item">
								<li>
									<div  class="slider-info banner-view bg bg2">
										<div class="banner-info">
											<div class="container">
												<div class="banner-info-bg text-center" style="height: 400px;">
													<h4 style="padding-top: 10px;padding-bottom: 10px;color: #F5F5F5;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" class="sub-font">Paint And Finishes</h4>
													<a href="../../../../requested_product/{{User}}/Paint And Finishes"><h5><span class="fa fa-paint-brush" aria-hidden="true"></h5></a>
												</div>
											</div>
										</div>
									</div>
								</li>
							</div>

								<div class="item">

							  	<li>
									<div class="slider-info  banner-view banner-top1 bg bg2">
										<div class="banner-info">
											<div class="container">
												<div class="banner-info-bg text-center" style="height: 400px;">
													<h4 style="padding-top: 10px;padding-bottom: 10px;color: #F5F5F5;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" class="sub-font">Field Accessories</h4>
													<a href="../../../../requested_product/{{User}}/Field Accessories"><h5><span class="fa fa-wrench" aria-hidden="true"></h5></a>
												</div>
											</div>
										</div>
									</div>
								</li>

							</div>
							<div class="item">
								<li>
									<div class="slider-info banner-view banner-top2 bg bg2">
										<div class="banner-info" >
											<div class="container">
												<div class="banner-info-bg text-center" style="height: 400px;">
													<h4 style="padding-top: 10px;padding-bottom: 10px;color: #F5F5F5;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" class="sub-font">Food And Cosumables</h4>
													<a href="../../../../requested_product/{{User}}/Cakes And Pastries"><h5><span class="fa fa-birthday-cake" aria-hidden="true"></h5></a>
												</div>
											</div>
										</div>
									</div>
								</li>
							</div>
							<div class="item">
								<li>
									<div class="slider-info banner-view banner-top3 bg bg2">
										<div class="banner-info">
											<div class="container">
												<div class="banner-info-bg text-center" style="height: 400px;">
													<h4 style="padding-top: 10px;padding-bottom: 10px;color: #F5F5F5;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;" class="sub-font">Electronic Accessories</h4>
													<a href="../../../../requested_product/{{User}}/Desk Accessories"><h5><span class="fa fa-television" aria-hidden="true"></h5></a>
												</div>
											</div>
										</div>
									</div>
								</li>
							</div>
						</div>
					</div>
				</section>
			</div> </li>
			<li  role="separator" class="nav-item" style="padding-left: 10px;font-size: 5px;color:#6c757d;font-weight: bold;font-family: Arial, Helvetica, sans-serif;" ><span></span></a></li>
			<li  role="separator" class="nav-item" style="padding-left: 10px;font-size: 14px;color:#6c757d;font-weight: bold;font-family: Arial, Helvetica, sans-serif;" ><span>OUR INVENTORY</span></a></li>
			<li style="background-color:rgb(238, 236, 236);border-radius: 5px;"><a href="../../../../requested_product/{{User}}/Books And Documents"><i style="font-size: 20px;padding-right: 10px; " class="fa fa-book"></i><span style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Books And Documents</span></a></li>
			<li  role="separator" class="nav-item" style="padding-left: 10px;font-size: 1px;color:#6c757d;font-weight: bold;font-family: Arial, Helvetica, sans-serif;" ><span></span></a></li>
			<li style="background-color:rgb(238, 236, 236);border-radius: 5px;"><a href="../../../../requested_product/{{User}}/Automobiles"><i style="font-size: 20px;padding-right: 10px; " class="fa fa-bus"></i><span style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Automobiles</span></a></li>
			<li  role="separator" class="nav-item" style="padding-left: 10px;font-size: 1px;color:#6c757d;font-weight: bold;font-family: Arial, Helvetica, sans-serif;" ><span></span></a></li>
			<li style="background-color:rgb(238, 236, 236);border-radius: 5px;"><a href="../../../../requested_product/{{User}}/Computers"><i style="font-size: 20px;padding-right: 10px; " class="fa fa-desktop"></i><span style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Computers</span></a></li>
			<li  role="separator" class="nav-item" style="padding-left: 10px;font-size: 1px;color:#6c757d;font-weight: bold;font-family: Arial, Helvetica, sans-serif;" ><span></span></a></li>
			<li style="background-color:rgb(238, 236, 236);border-radius: 5px;"><a href="../../../../requested_product/{{User}}/Home Electronics"><i style="font-size: 20px;padding-right: 10px; " class="fa fa-television"></i><span style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Home Electronics</span></a></li>
			<li  role="separator" class="nav-item" style="padding-left: 10px;font-size: 1px;color:#6c757d;font-weight: bold;font-family: Arial, Helvetica, sans-serif;" ><span></span></a></li>
			<li style="background-color:rgb(238, 236, 236);border-radius: 5px;"><a href="../../../../requested_product/{{User}}/Phones And Portables"><i style="font-size: 20px;padding-right: 10px; " class="fa fa-tablet"></i><span style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Phones And Portables</span></a></li>
			<li  role="separator" class="nav-item" style="padding-left: 10px;font-size: 1px;color:#6c757d;font-weight: bold;font-family: Arial, Helvetica, sans-serif;" ><span></span></a></li>
			<li style="background-color:rgb(238, 236, 236);border-radius: 5px;"><a href="../../../categories/{{User}}" name="User" value="sklfskalf"><i style="font-size: 20px;padding-right: 10px; " class="fa fa-ellipsis-h"></i><span style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">More</span></a></li>
			<li  role="separator" class="nav-item" style="padding-left: 10px;font-size: 14px;color:#6c757d;font-weight: bold;font-family: Arial, Helvetica, sans-serif;" ><span>GET INTOUTCH</span></a></li>
			<li style="background-color:rgb(238, 236, 236);border-radius: 5px;"><a href="../../../about/{{User}}"><i style="font-size: 20px;padding-right: 10px; " class="fa fa-user-secret"></i><span style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">About Us</span></a></li>
			<li  role="separator" class="nav-item" style="padding-left: 10px;font-size: 1px;color:#6c757d;font-weight: bold;font-family: Arial, Helvetica, sans-serif;" ><span></span></a></li>
			<li style="background-color:rgb(238, 236, 236);border-radius: 5px;"><a href="../../../message/{{User}}"><i style="font-size: 20px;padding-right: 10px; " class="fa fa-commenting-o"></i><span style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Contact</span></a></li>
		</ul>
	</nav>
	<div class="main buttonset">
		<!--/tophny-header-->
		<div class="tophny-header" style="background-color: #F5F5F5; position: fixed;border-radius: 10px;top: -7px;width: 100%; box-shadow: 0px 3px 2px #1616164d;">
			<div class="container">
				<div class="hny-topgds">
					<div class="menu-notify">
						<button id="showLeftPush"><span class="fa fa-bars" aria-hidden="true"></span></button>

					</div>
					<div class="logo text-center">
						<h1><a class="navbar-brand"  href="main.html">

											<a  class="navbar-brand" href="#main.html">
												<img src="{% static 'assets/images/PZONE LOGO.png' %}"style="width:90px;height:55px" alt="Your logo" title="Your logo" style="height:35px;" />
											</a>
					</div>
					<div class="icon-left search-right text-right">
						<a class="topuser" href="../../../../log/{{User}}" ><img src="../static/media/Clients/{{User}}.jpg" style="width:35px ;height:35px;border-radius: 100px;border-color: #F5F5F5 ;"></span></a>
						<a href="#search"  class="hnysearch-icon" title="search"><span class="fa fa-search"
								aria-hidden="true"></span></a>
						<!-- search popup -->
						<div id="search" class="pop-overlay">
							<div class="popup">
								<h3 class="hny-title two">Search Here</h3>
								<form action="../../../Find" method="post" class="search-box">
									{% csrf_token %}
									<input type="search" placeholder="Search your Keyword" name="LookFor"
										required="required" autofocus="">
										<input type="hidden" name="User" value="{{User}}" />
									<button type="submit" class="btn">Search</button>
								</form>

							</div>
							<a class="close" href="#close">×</a>
						</div>
						<!-- /search popup -->
					</div>
				</div>
			</div>
			<!--//tophny-header-->
		</div>




		<!--//tophny-header-->
		<!-- main-slider -->
		<section class="w3l-main-slider position-relative" id="home">
			<div class="companies20-content">
				<div class="owl-one owl-carousel owl-theme">
					<div class="item">
						<li>
							<div class="slider-info banner-view bg bg2">
								<div class="banner-info">
									<div class="container">
										<div class="banner-info-bg text-center">
											<h4 class="sub-font">Secure Online Transactions</h4>
											<h5>Buy At From A Trusted Supplier</h5>
											<div class="banner-buttons mt-4">
												<a class="btn btn-style-1 btn-primary" href="../../../categories/{{User}}">Our Inventory</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
					</div>
					<div class="item">
						<li>
							<div class="slider-info  banner-view banner-top1 bg bg2">
								<div class="banner-info">
									<div class="container">
										<div class="banner-info-bg text-center">
											<h4 class="sub-font">Convinient Order Fulfillment</h4>
											<h5>We Deliver Right At Your Door Step</h5>
											<div class="banner-buttons mt-4">
												<a class="btn btn-style-1 btn-primary" href="../../../categories/{{User}}">Our Inventory</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
					</div>
					<div class="item">
						<li>
							<div class="slider-info banner-view banner-top2 bg bg2">
								<div class="banner-info">
									<div class="container">
										<div class="banner-info-bg text-center">
											<h4 class="sub-font">User Friendly Site Interface</h4>
											<h5>Easily Navigate And Place Orders</h5>
											<div class="banner-buttons mt-4">
												<a class="btn btn-style-1 btn-primary" href="../../../categories/{{User}}">Our Inventory</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
					</div>
					<div class="item">
						<li>
							<div class="slider-info banner-view banner-top3 bg bg2">
								<div class="banner-info">
									<div class="container">
										<div class="banner-info-bg text-center">
											<h4 class="sub-font">Discover True Salesmanship</h4>
											<h5>We Provide A 24/7 Customer Assistance</h5>
											<div class="banner-buttons mt-4">
												<a class="btn btn-style-1 btn-primary" href="../../../categories/{{User}}">Our Inventory</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
					</div>

				</div>

			</div>

		</section>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<style>
    .bottom-bar{
    background-color: #eee;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20em;
    box-shadow: 2px 2px 5px #161616dc;
    border-radius: 20px 20px 0 0;
}
.icon{

    font-size: 30px;

    margin-top: 0;
    transition: .5s ease-in-out;
    border-radius: 100%;
    border: 4px solid #eee;
}

</style>


		<html lang="en">
  <head>



  </head>
  <body1>
    <div class="bottom-bar" style="position: fixed;bottom: 0%;width: 100%;z-index:60000">
      <a href="../../../home/{{User}}"><span  style=" font-size: 30px;padding-left:5%;padding-right:5%" class="fa fa-home fa-flip"></a>
      </ion-icon>
     <a href="../../../cart/{{User}}"> <span  style=" font-size: 30px;padding-left:5%;padding-right:5%" class="fa fa-shopping-cart " ></span></a>
      </ion-icon>

      </ion-icon>
      <a href="../../../categories/{{User}}"><span  style=" font-size: 30px;padding-left:5%;padding-right:5%;padding-top:5px;padding-bottom:5px " class="fa fa-leanpub faa-pulse" ></a>
      </ion-icon>
       <a href="../../../set_up/{{User}}"><span  style=" font-size: 30px;padding-left:5%;padding-right:5%" class="fa fa-cog fa-spin fa-slow" ></a>
      </ion-icon>
    </div>
  </body1>
</html>







		<!-- //banner-slider-->
		<!-- /content-6-section -->

		<!-- //content-6-section -->
		<!-- /featured-services-->
		<section class="w3l-features-4" id="services">
			<div class="features4-block py-5">
				<div class="container py-lg-3">
					<div class="title-head text-center mb-lg-5 mb-4">

						<h3 class="hny-title">
							Most <span>Searched</span> Collections</h3>
					</div>
					<div class="features4-grids text-left row">
						<div class="features4-grid">
							<div class="features4-grid-inn">
								<div class="icon-fea4">
									<span class="fa fa-birthday-cake" aria-hidden="true"></span>
								</div>
								<h5><a href="../../../../requested_product/{{User}}/Cakes And Pastries">Cakes And Pastries</a></h5>
								<p>View more food products at a go<span class="p-ab">, and get access to morden products.</span> </p>
								<div class="read-arrow text-right mt-md-4 mt-3">
									<a href="../../../../requested_product/{{User}}/Cakes And Pastries"><span class="fa fa-arrow-right"
											aria-hidden="true"></span></a>
								</div>
							</div>
						</div>
						<div class="features4-grid">
							<div class="features4-grid-inn">
								<div class="icon-fea4">
									<span class="fa fa-book" aria-hidden="true"></span>
								</div>
								<h5><a href="../../../../requested_product/{{User}}/Books And Documents">Books</a></h5>
								<p>Download and read all your favourate books at ease<span class="p-ab">search and explore interesting books you can read.</span> </p>
								<div class="read-arrow text-right mt-md-4 mt-3">
									<a href="../../../../requested_product/{{User}}/Books And Documents"><span class="fa fa-arrow-right"
											aria-hidden="true"></span></a>
								</div>
							</div>
						</div>
						<div class="features4-grid">
							<div class="features4-grid-inn">
								<div class="icon-fea4">
									<span class="fa fa-bus" aria-hidden="true"></span>
								</div>
								<h5><a href="../../../../requested_product/{{User}}/Automobiles">Automobiles</a></h5>
								<p>Buy affordable automobiles from a trusted Supplier <span class="p-ab">also find parts at an affordable price.</span> </p>
								<div class="read-arrow text-right mt-md-4 mt-3">
									<a href="../../../../requested_product/{{User}}/Automobiles"><span class="fa fa-arrow-right"
											aria-hidden="true"></span></a>
								</div>
							</div>
						</div>
						<div class="features4-grid">
							<div class="features4-grid-inn">
								<div class="icon-fea4">
									<span class="fa fa-gavel" aria-hidden="true"></span>
								</div>
								<h5><a href="../../../../requested_product/{{User}}/Wood Works">Wood Works</a></h5>
								<p>Get a morden furniture at the rate you can afford <span class="p-ab">brouse through our inventory to find what right for you.</span> </p>
								<div class="read-arrow text-right mt-md-4 mt-3">
									<a href="../../../../requested_product/{{User}}/Wood Works"><span class="fa fa-arrow-right"
											aria-hidden="true"></span></a>
								</div>
							</div>
						</div>
						<div class="features4-grid">
							<div class="features4-grid-inn">
								<div class="icon-fea4">
									<span class="fa fa-bed" aria-hidden="true"></span>
								</div>
								<h5><a href="../../../../requested_product/{{User}}/Room Extras">Room Extras</a></h5>
								<p>Buy quality and sleep well <span class="p-ab"> to improve your health.</span> </p>
								<div class="read-arrow text-right mt-md-4 mt-3">
									<a href="../../../../requested_product/{{User}}/Room Extras"><span class="fa fa-arrow-right"
											aria-hidden="true"></span></a>
								</div>
							</div>
						</div>
						<div class="features4-grid">
							<div class="features4-grid-inn">
								<div class="icon-fea4">
									<span class="fa fa-bath" aria-hidden="true"></span>
								</div>
								<h5><a href="../../../../requested_product/{{User}}/Plumbing">Plumbing</a></h5>
								<p>Get Plumbing tools without the husel <span class="p-ab">, access our inventory to find the tool for the job.</span> </p>
								<div class="read-arrow text-right mt-md-4 mt-3">
									<a href="../../../../requested_product/{{User}}/Plumbing"><span class="fa fa-arrow-right"
											aria-hidden="true"></span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
           <div class="w3l-middle py-5">
			<div class="container py-xl-5 py-lg-3">
				<div class="row align-items-center">
					<div class="welcome-left col-lg-6">
						<div class="title-head text-left">
							<h6 class="sub-title-1">Have Somethig To tell Us?</h6>
							<h3 class="hny-title two">
								Contact our admins to help improve our services </span>your oppenion is always valid.</h3>

						</div>
					</div>
					<div class="welcome-right text-lg-right col-lg-6">
						<a href="../../../message/{{User}}" class="btn btn-style-1 btn-primary mt-sm-5 mt-4">Contact Us</a>
					</div>
				</div>
			</div>
		</div>
		<section class="w3l-features-4" id="services">
			<div class="features4-block py-5">
				<div class="container py-lg-3">
					<div class="title-head text-center mb-lg-5 mb-4">

						<h3 class="hny-title">
							<h3 class="hny-title">Products <span>On Sale</span></h3>
					</div>
					<div class="features4-grids text-left row">

						{% for i in product %}
						<div class="features4-grid">
							<div class="feaures4-grid-inn">
								<img style="width: 100%;height:100%;border-radius: 3px; " src="../static/media/Product/{{i.1}}.jpg">

							    <div style="padding-top: 7px;">
								<h5 ><a href="#URL"><span style="color:#161616dc ;font-size: 1.9vmax ;font-family:Helvetica;" >{{i.1}}</span></a></h5>
								</div>
								<h7 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 1.5vmax;">Rating
									{% for j in i.8 %}
									<i style="font-size: 1.6vmax; ;color:#df4223; " class="fa fa-star"></i>
									{% endfor %}
								    </h7>
									<div>
										<h7 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  font-size: 1.5vmax;">Time Span: <span style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 1.5vmax;">{{i.7}}</span></h7>
										<p>{{i.5}}</span></p>
										<h4 style="font-size: 3.2vmax;padding-top: 15px;">{{i.2}}</h4>

									</div>

						        <div class="banner-buttons mt-4">
									<button  id="{{i.1}}" onclick="addnew('{{i.0}}','{{i.1}}','{{i.2}}','{{i.4}}','{{User}}')" style="background-color: #df4223;color: #f0f0f0d7" class="btn btn-style-1 btn-primary"  type="submit"><i style="font-size: 20px;padding-right: 10px; " class="fa fa-shopping-basket"></i>Add To Cart</button>
								</div>

							</div>
						</div>
						{% endfor %}

					</div>
				</div>
				<div class="banner-buttons mt-4">
					<form action="../../../../get_more" method="post">
					{% csrf_token %}
					<input type="hidden" name="User" value={{User}} />
				 	<button style="background-color: #273479;color: #f0f0f0d7;width: 100%;" class="btn btn-style-1 btn-primary"  type="submit"><i style="font-size: 20px;padding-right: 10px; " class="fa fa-ellipsis-h"></i>View More</button>
				    </form>
				</div>
			</div>
		</section>

		<!-- //content-4-section -->
		<!-- portfolio -->
		<section class="w3l-portfolio-8 py-5">
			<div class="portfolio-main py-lg-3">
				<div class="container">
					<div class="title-content text-center">
						<h3 class="hny-title">You May Be<span> Interested</span> In</h3>
					</div>
					<div class="row galler-top mt-lg-5 mt-4">
						<div class="col-lg-4 protfolio-item hover14 align-self">
							<a href="{% static 'assets/products/9.jpg' %}" data-lightbox="example-set" class="mb-4"
							data-title="lorem ipsum dolor sit amet">

									<figure>
										<img src="{% static 'assets/products/9.jpg' %}" alt="product" class="img-fluid ">
									</figure>
							</a>
							<a href="{% static 'assets/products/12.jpg' %}" data-lightbox="example-set"
							data-title="lorem ipsum dolor sit amet">
									<figure>
										<img src="{% static 'assets/products/12.jpg' %}" alt="product" class="img-fluid ">
									</figure>
							</a>
						</div>
						<div class="col-lg-4 protfolio-item hover14">
							<a href="{% static 'assets/products/10.jpg' %}" data-lightbox="example-set" class="mb-4"
							data-title="lorem ipsum dolor sit amet">
									<figure>
										<img src="{% static 'assets/products/10.jpg' %}" alt="product" class="img-fluid ">
									</figure>
							</a>
							<a href="{% static 'assets/products/11.jpg' %}" data-lightbox="example-set"
							data-title="lorem ipsum dolor sit amet">
									<figure>
										<img src="{% static 'assets/products/11.jpg' %}" alt="product" class="img-fluid ">
									</figure>
							</a>
						</div>
						<div class="col-lg-4 protfolio-item hover14">
							<a href="{% static 'assets/products/8.jpg' %}" data-lightbox="example-set" class="mb-4"
							data-title="lorem ipsum dolor sit amet">
									<figure>
										<img src="{% static 'assets/products/8.jpg' %}" alt="product" class="img-fluid ">
									</figure>
							</a>
							<a href="{% static 'assets/products/13.jpg' %}" data-lightbox="example-set"
							data-title="lorem ipsum dolor sit amet">
									<figure>
										<img src="{% static 'assets/products/13.jpg' %}" alt="product" class="img-fluid ">
									</figure>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- //portfolio -->
		<!-- /w3l-newsletter-->

		<!-- //w3l-newsletter-->
		<!-- /blognhy-grids-->
		<section class="w3l-postnhy-grids">
			<div class="postnhy-grids-inner py-5">
				<div class="container py-lg-3">
					<div class="title-head text-center mb-lg-5 mb-4">

						<h3 class="hny-title">
							Our <span>Latest</span> Products</h3>
					</div>
					<!-- /owl-slider-->
					<div class="posthny-slides pb-lg-5 pb-4">
						<div class="owl-two owl-carousel owl-theme">
							{% for i in roll %}
							<div class="item">
								<div class="posthny-grid mb-4">
									<div class="posthny-grid-inn">

										<a href="services.html"><img src="../static/media/Product/{{i.1}}.jpg" class="img-fluid"
												alt=""></a>
										<h5><a href="#" ><span style="font-size:1.9vmax">{{i.1}}</span></a></h5>
										 <h7 style="font-size:1.7vmax">Time Span: {{i.7}}<br></h7>
										 <h7 style="font-size:1.4vmax">Rating</h7>
										 {% for j in i.8 %}
									      <i style="font-size: 1.2vmax;color:#df4223; " class="fa fa-star"></i>
									     {% endfor %}
										<p><br><span class="p-ab"></span><span style="font-size: 20px;">{{i.2}}</span></p>

										<div class="banner-buttons mt-4">
											<button id="{{i.1}}" onclick="addnew('{{i.0}}','{{i.1}}','{{i.2}}','{{i.4}}','{{User}}')" style="background-color: #df4223;color: #ecececd7;width: 100%;" class="btn btn-style-1 btn-primary"  type="submit"><i style="font-size: 20px;padding-right: 10px; " class="fa fa-shopping-cart"></i>Add </button>
										</div>

									</div>
								</div>
							</div>
							{% endfor%}
						</div>
					</div>
					<!-- //owl-slider-->
				</div>
			</div>
		</section>
		<!-- //posts-->
		<!-- middle -->
		<div class="w3l-middle py-5">
			<div class="container py-xl-5 py-lg-3">
				<div class="row align-items-center">
					<div class="welcome-left col-lg-6">
						<div class="title-head text-left">
							<h6 class="sub-title-1">Have You Encounted An Error?</h6>
							<h3 class="hny-title two">
								When you encounter any error<span> during your surfing </span>please let us know.</h3>

						</div>
					</div>
					<div class="welcome-right text-lg-right col-lg-6">
						<a href="../../../message/{{User}}" class="btn btn-style-1 btn-primary mt-sm-5 mt-4">Contact Us</a>
					</div>
				</div>
			</div>
		</div>
		<!-- //middle -->
		<!-- stats -->

		<!-- //stats -->
		<!--/testimonials-->
		<section class="w3l-testimonials">
			<div class="testimonials py-5">
				<div class="container text-center py-lg-3">
					<div class="title-content text-center mb-lg-5 mb-4">
						<h6 class="sub-title">Testimonials</h6>
						<h3 class="hny-title">What <span>our clients</span> say?</h3>
					</div>
					<div class="row">
						<div class="col-lg-10 mx-auto">
							<div class="owl-testimonial owl-carousel owl-theme">
								<div class="item">
									<div class="slider-info position-relative mt-lg-4 mt-3">
										<div class="img-circle">
											<img src="{% static 'assets/images/c2.jpg' %}" class="img-fluid rounded"
												alt="client image">
										</div>
										<div class="quote"><span class="fa fa-quote-left" aria-hidden="true"></span>
										</div>
										<div class="message">Lorem
											ipsum dolor sit amet consectetur adipisicing elit.<span class="p-ab"> Ea sit
											id
											accusantium
											officia quod quasi necessitatibus perspiciatis Harum error provident
											quibusdam tenetur.</span></div>
										<div class="name">- Jenkins</div>

									</div>
								</div>
								<div class="item">
									<div class="slider-info position-relative mt-lg-4 mt-3">
										<div class="img-circle">
											<img src="{% static 'assets/images/c1.jpg' %}" class="img-fluid rounded"
												alt="client image">
										</div>
										<div class="quote"><span class="fa fa-quote-left" aria-hidden="true"></span>
										</div>
										<div class="message">Lorem
											ipsum dolor sit amet consectetur adipisicing elit.<span class="p-ab"> Ea sit
											id
											accusantium
											officia quod quasi necessitatibus perspiciatis Harum error provident
											quibusdam tenetur.</span></div>
										<div class="name">- John Balmer</div>
									</div>
								</div>
								<div class="item">
									<div class="slider-info position-relative mt-lg-4 mt-3">
										<div class="img-circle">
											<img src="{% static 'assets/images/c1.jpg' %}" class="img-fluid rounded"
												alt="client image">

										</div>
										<div class="quote"><span class="fa fa-quote-left" aria-hidden="true"></span>
										</div>
										<div class="message">Lorem
											ipsum dolor sit amet consectetur adipisicing elit.<span class="p-ab"> Ea sit
											id
											accusantium
											officia quod quasi necessitatibus perspiciatis Harum error provident
											quibusdam tenetur.</span></div>
										<div class="name">- Elizabeth</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<!--//testimonials-->
		<!-- footer-28 block -->
		<section class="w3l-footer">
			<footer class="footer-28">
				<div class="footer-bg-layer">
					<div class="container py-lg-3">


					<div class="midd-footer-28 align-center py-lg-4 py-3 mt-5">
						<div class="container">
							<p class="copy-footer-28 text-center"> &copy; 2022 UBuy. All Rights Reserved.</p>

						</div>
					</div>
				</div>
			</footer>

			<!-- move top -->
			<button onclick="topFunction()" id="movetop" title="Go to top">
				<span class="fa fa-arrow-up" aria-hidden="true"></span>
			</button>
			<script>
				// When the user scrolls down 20px from the top of the document, show the button
				window.onscroll = function () {
					scrollFunction()
				};

				function scrollFunction() {
					if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
						document.getElementById("movetop").style.display = "block";
					} else {
						document.getElementById("movetop").style.display = "none";
					}
				}

				// When the user clicks on the button, scroll to the top of the document
				function topFunction() {
					document.body.scrollTop = 0;
					document.documentElement.scrollTop = 0;
				}
			</script>
			<!-- /move top -->
		</section>
		<!-- //footer-28 block -->



	</div>



	<script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
	<!--/top-nav-->
	<script src="{% static 'assets/js/jquery-2.1.4.min.js' %}"></script>
	<script src="{% static 'assets/js/modernizr.custom.js' %}"></script>
	<script src="{% static 'assets/js/classie.js' %}"></script>
	<script>
		var menuLeft = document.getElementById('cbp-spmenu-s1'),
			showLeftPush = document.getElementById('showLeftPush'),
			body = document.body;

		showLeftPush.onclick = function () {
			classie.toggle(this, 'active');
			classie.toggle(body, 'cbp-spmenu-push-toright');
			classie.toggle(menuLeft, 'cbp-spmenu-open');
			disableOther('showLeftPush');
		};

		function disableOther(button) {
			if (button !== 'showLeftPush') {
				classie.toggle(showLeftPush, 'disabled');
			}
		}
	</script>
	<!--//top-nav-->
	  <!-- libhtbox -->
	  <script src="{% static 'assets/js/lightbox-plus-jquery.min.js' %}"></script>
	<!-- stats number counter-->
	<script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.countup.js' %}"></script>
	<script>
		$('.counter').countUp();
	</script>
	<!-- //stats number counter -->
	<script src="{% static 'assets/js/owl.carousel.js' %}"></script>
	<!-- script for banner slider-->
	<script>
		$(document).ready(function () {
			$('.owl-one').owlCarousel({
				loop: true,
				margin: 0,
				nav: false,
				responsiveClass: true,
				autoplay: true,
				autoplayTimeout: 5000,
				autoplaySpeed: 1000,
				autoplayHoverPause: false,
				responsive: {
					0: {
						items: 1,
						nav: false
					},
					480: {
						items: 1,
						nav: false
					},
					667: {
						items: 1,
						nav: true
					},
					1000: {
						items: 1,
						nav: true
					}
				}
			})
		})
	</script>
	<!-- //script -->


	<script>
	function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');
    console.log(csrftoken)
    function addnew(idd,pname,pay,describe,user){
    document.getElementById(pname).innerHTML = '<i class = "fa fa-check "></i>Added To Cart';
    document.getElementById(pname).setAttribute('disabled', '')
	data = JSON.stringify({

	Product: pname,
    Ammount: pay,
    Description: describe,
    Status: "New",
    User: user,
	Quantity: 1
   })
    fetch("../../../cart/o", {
    method: 'POST',
    body: data,
    headers: { 'X-CSRFToken': csrftoken,'Accept': 'application/json, text/plain, */*',
        'Content-Type': 'application/json',
        },
   })
  .then(response => response.json())
  .then(data => {
    console.log("data");
   });}

   </script>



	<!-- /script-blogs-->
	<script>
		$(document).ready(function () {
			$('.owl-two').owlCarousel({
				loop: true,
				margin: 30,
				nav: false,
				responsiveClass: true,
				autoplay: true,
				autoplayTimeout: 5000,
				autoplaySpeed: 1000,
				autoplayHoverPause: false,
				responsive: {
					0: {
						items:2,
						nav: false
					},
					480: {
						items:2,
						nav: false
					},
					700: {
						items: 2,
						nav: false
					},
					1090: {
						items: 3,
						nav: false
					}
				}
			})
		})
	</script>
	<!-- //script-blogs-->
	<!-- script for owlcarousel -->
	<script>
		$(document).ready(function () {
			$('.owl-testimonial').owlCarousel({
				loop: true,
				margin: 0,
				nav: false,
				responsiveClass: true,
				autoplay: true,
				autoplayTimeout: 5000,
				autoplaySpeed: 1000,
				autoplayHoverPause: false,
				responsive: {
					0: {
						items: 1,
						nav: false
					},
					480: {
						items: 1,
						nav: false
					},
					667: {
						items: 1,
						nav: false
					},
					1000: {
						items: 1,
						nav: false
					}
				}
			})
		})
	</script>
	<!-- script for owlcarousel -->
	<!-- disable body scroll which navbar is in active -->
	<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>