{% load static %}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="zxx">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>UBuy
	</title>
	<!-- Template CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/style-starter.css' %}">
	<!-- Template CSS -->

	<link href="//fonts.googleapis.com/css?family=Spartan:400,500,600,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/css.css' %}">

	<!-- Template CSS -->
</head>

<body class="cbp-spmenu-push">
	

		<!--//tophny-header-->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<style>
    .bottom-bar{
    background-color: #eee;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 20em;
    box-shadow: 2px 2px 5px #161616dc;
    border-radius: 20px 20px 0 0;
}
.icon{

    font-size: 30px;

    margin-top: 0;
    transition: .5s ease-in-out;
    border-radius: 100%;
    border: 4px solid #eee;
}

</style>


		<html lang="en">
  <head>



  </head>
  <body1>
    <div class="bottom-bar" style="position: fixed;bottom: 0%;width: 100%;z-index:60000">
      <a href="../../../home/{{User}}"><span  style=" font-size: 30px;padding-left:5%;padding-right:5%" class="fa fa-home fa-flip"></a>
      </ion-icon>
     <a href="../../../cart/{{User}}"> <span  style=" font-size: 30px;padding-left:5%;padding-right:5%" class="fa fa-shopping-cart " ></span></a>
      </ion-icon>

      </ion-icon>
      <a href="../../../categories/{{User}}"><span  style=" font-size: 30px;padding-left:5%;padding-right:5%;padding-top:5px;padding-bottom:5px " class="fa fa-leanpub faa-pulse" ></a>
      </ion-icon>
       <a href="../../../set_up/{{User}}"><span  style=" font-size: 30px;padding-left:5%;padding-right:5%" class="fa fa-cog fa-spin fa-slow" ></a>
      </ion-icon>
    </div>
  </body1>
</html>




		<!--/services-->
		<!--services-2-->
		<section class="w3l-services-2 w3l-services-1">
			<div class="services-2-content py-5" id="services">
				<div class="container py-lg-5 py-md-4">
					<div style="padding-bottom: 20px;"></div>
					<div class="title-head text-center mb-lg-5 mb-4">

						<h3 class="hny-title">All <span>Categories</span> </h3>
						<p class="ser-para">All categories here are available and ready tobe delivered.</span></p>
					</div>
					<!-- /give-set1-->
						<div class="give-set1 mt-lg-4 mb-5 pt-5">
							<h4 class="hny-title mb-3">Food And Consumables<span></span></h4>
							<div class="row">
								<div class="col-md-3 col-sm-6 col-6 mt-sm-4 mt-3">
									<a href="../../../../requested_product/{{User}}/Cakes And Pastries">
										<div class="serhny-item mt-2">
											<span class="fa fa-birthday-cake" aria-hidden="true"></span>
											<p>Cakes And Pastries</p>
										</div>
									</a>
								</div>
								<div class="col-md-3 col-6 mt-4">
									<a href="../../../../requested_product/{{User}}/Meals And FastFoods">
										<div class="serhny-item">
											<span class="fa fa-cutlery" aria-hidden="true"></span>
											<p>Meals And FastFoods</p>
										</div>
									</a>
								</div>
								<div class="col-md-3 col-sm-6 col-6 mt-sm-4 mt-3">
									<a href="../../../../requested_product/{{User}}/Fruits And Vegetables">
										<div class="serhny-item mt-2">
											<span class="fa fa-leaf" aria-hidden="true"></span>
											<p>Fruits And Vegetables</p>
										</div>
									</a>
								</div>
								<div class="col-md-3 col-sm-6 col-6 mt-sm-4 mt-3">
									<a href="../../../../requested_product/{{User}}/Drinks And Beverage">
										<div class="serhny-item mt-2">
											<span class="fa fa-beer" aria-hidden="true"></span>
											<p>Drinks And Beverages</p>
										</div>
									</a>
								</div>


							</div>
							<!-- /give-set1-->
						</div>


					<div class="give-set1 mb-5 pt-3">
						<h4 class="hny-title mb-3">House Hold <span></span></h4>
						<div class="row">
							<div class="col-md-3 col-6 mt-4">
								<a href="../../../../requested_product/{{User}}/Electrical Appliance">
									<div class="serhny-item mt-2">
										<span class="fa fa-plug" aria-hidden="true"></span>
										<p>Electrical Appliance</p>
									</div>
								</a>
							</div>
							<div class="col-md-3 col-6 mt-4">
								<a href="../../../../requested_product/{{User}}/Home Electronics">
									<div class="serhny-item">
										<span class="fa fa-television"
											aria-hidden="true"></span>
										<p>Home Electronics</p>
									</div>
								</a>
							</div>
							<div class="col-md-3 col-6 mt-4">
								<a href="../../../../requested_product/{{User}}/Paint And Finishes">
									<div class="serhny-item">
										<span class="fa fa-paint-brush" aria-hidden="true"></span>
										<p>Paint And Finishes</p>
									</div>
								</a>
							</div>
							<div class="col-md-3 col-6 mt-4">
								<a href="../../../../requested_product/{{User}}/Plumbing">
									<div class="serhny-item">
										<span class="fa fa-bath" aria-hidden="true"></span>
										<p>Plumbing</p>
									</div>
								</a>
							</div>

						</div>
					</div>
					<!-- /give-set1-->
					<div class="give-set1 mt-lg-4 mb--sm-5 mb-4 pt-sm-4 pt-3">
						<h4 class="hny-title mb-3">Entatainment <span></span></h4>
						<div class="row">
							<div class="col-md-3 col-sm-6 col-6 mt-sm-4 mt-3">
								<a href="../../../../requested_product/{{User}}/Sound Systems">
									<div class="serhny-item mt-2">
										<span class="fa fa-music" aria-hidden="true"></span>
										<p>Sound Systems</p>
									</div>
								</a>
							</div>
							<div class="col-md-3 col-6 mt-4">
								<a href="../../../../requested_product/{{User}}/Visuals">
									<div class="serhny-item">
										<span class="fa fa-video-camera" aria-hidden="true"></span>
										<p>Visuals</p>
									</div>
								</a>
							</div>
							<div class="col-md-3 col-sm-6 col-6 mt-sm-4 mt-3">
								<a href="../../../../requested_product/{{User}}/Lighing And Deco">
									<div class="serhny-item mt-2">
										<span class="fa fa-lightbulb-o" aria-hidden="true"></span>
										<p>Lighing And Deco</p>
									</div>
								</a>
							</div>
							<div class="col-md-3 col-sm-6 col-6 mt-sm-4 mt-3">
								<a href="../../../../requested_product/{{User}}/Game Stations">
									<div class="serhny-item mt-2">
										<span class="fa fa-gamepad" aria-hidden="true"></span>
										<p>Game Stations</p>
									</div>
								</a>
							</div>
							<div class="col-md-3 col-sm-6 col-6 mt-sm-4 mt-3">
								<a href="../../../../requested_product/{{User}}/Phones And Portables">
									<div class="serhny-item mt-2">
										<span class="fa fa-tablet" aria-hidden="true"></span>
										<p>Phones And Portables</p>
									</div>
								</a>
							</div>


						</div>
						<!-- /give-set1-->
						<div class="give-set1 mt-lg-4 mb-5 pt-5">
							<h4 class="hny-title mb-3">Work And Office <span></span></h4>
							<div class="row">
								<div class="col-md-3 col-sm-6 col-6 mt-sm-4 mt-3">
									<a href="../../../../requested_product/{{User}}/Computers">
										<div class="serhny-item mt-2">
											<span class="fa fa-desktop" aria-hidden="true"></span>
											<p>Computers</p>
										</div>
									</a>
								</div>
								<div class="col-md-3 col-6 mt-4">
									<a href="../../../../requested_product/{{User}}/Desk Accessories">
										<div class="serhny-item">
											<span class="fa fa-columns" aria-hidden="true"></span>
											<p>Desk Accessories</p>
										</div>
									</a>
								</div>
								<div class="col-md-3 col-sm-6 col-6 mt-sm-4 mt-3">
									<a href="../../../../requested_product/{{User}}/Field Accessories">
										<div class="serhny-item mt-2">
											<span class="fa fa-wrench" aria-hidden="true"></span>
											<p>Field Accessories</p>
										</div>
									</a>
								</div>

							</div>
							<!-- /give-set1-->
						</div>


							<div class="give-set1 mt-lg-4 mb-5 pt-5">
							<h4 class="hny-title mb-3">Printing Works<span></span></h4>
							<div class="row">
								<div class="col-md-3 col-sm-6 col-6 mt-sm-4 mt-3">
									<a href="../../../../requested_product/{{User}}/Documments And Files">
										<div class="serhny-item mt-2">
											<span class="fa fa-print" aria-hidden="true"></span>
											<p>Documments And Files</p>
										</div>
									</a>
								</div>
								<div class="col-md-3 col-6 mt-4">
									<a href="../../../../requested_product/{{User}}/Shirts And Uniforms">
										<div class="serhny-item">
											<span class="fa fa-child" aria-hidden="true"></span>
											<p>Shirts And Uniforms</p>
										</div>
									</a>
								</div>
								<div class="col-md-3 col-sm-6 col-6 mt-sm-4 mt-3">
									<a href="../../../../requested_product/{{User}}/Product Customization">
										<div class="serhny-item mt-2">
											<span class="fa fa-pencil-square-o" aria-hidden="true"></span>
											<p>Product Customization</p>
										</div>
									</a>
								</div>
								<div class="col-md-3 col-sm-6 col-6 mt-sm-4 mt-3">
									<a href="../../../../requested_product/{{User}}/Posters And Banners">
										<div class="serhny-item mt-2">
											<span class="fa fa-picture-o" aria-hidden="true"></span>
											<p>Posters And Banners</p>
										</div>
									</a>
								</div>


							</div>
							<!-- /give-set1-->
						</div>





					</div>


					<div class="give-set1 mt-lg-4 mb-5 pt-5">
							<h4 class="hny-title mb-3">Ship Stores <span></span></h4>
							<div class="row">
								<div class="col-md-3 col-sm-6 col-6 mt-sm-4 mt-3">
									<a href="../../../../requested_product/{{User}}/Provision">
										<div class="serhny-item mt-2">
											<span class="fa fa-product-hunt" aria-hidden="true"></span>
											<p>Provision</p>
										</div>
									</a>
								</div>
								<div class="col-md-3 col-6 mt-4">
									<a href="../../../../requested_product/{{User}}/Deck Stores">
										<div class="serhny-item">
											<span class="fa fa-life-ring" aria-hidden="true"></span>
											<p>Deck Stores</p>
										</div>
									</a>
								</div>
								<div class="col-md-3 col-sm-6 col-6 mt-sm-4 mt-3">
									<a href="../../../../requested_product/{{User}}/Engine Stores">
										<div class="serhny-item mt-2">
											<span class="fa fa-train" aria-hidden="true"></span>
											<p>Engine Stores</p>
										</div>
									</a>
								</div>
								<div class="col-md-3 col-sm-6 col-6 mt-sm-4 mt-3">
									<a href="../../../../requested_product/{{User}}/Chemicals And Solutions">
										<div class="serhny-item mt-2">
											<span class="fa fa-flask" aria-hidden="true"></span>
											<p>Chemicals And Solutions</p>
										</div>
									</a>
								</div>
								<div class="col-md-3 col-sm-6 col-6 mt-sm-4 mt-3">
									<a href="../../../../requested_product/{{User}}/Ropes And Fasteners">
										<div class="serhny-item mt-2">
											<span class="fa fa-stumbleupon" aria-hidden="true"></span>
											<p>Ropes And Fasteners</p>
										</div>
									</a>
								</div>
							</div>
							<!-- /give-set1-->
						</div>




				<div class="give-set1 mt-lg-4 mb-5 pt-5">
							<h4 class="hny-title mb-3">Marine Navigational <span></span></h4>
							<div class="row">
								<div class="col-md-3 col-sm-6 col-6 mt-sm-4 mt-3">
									<a href="../../../../requested_product/{{User}}/Charts & Publications">
										<div class="serhny-item mt-2">
											<span class="fa fa-line-chart" aria-hidden="true"></span>
											<p>Charts & Publications</p>
										</div>
									</a>
								</div>
								<div class="col-md-3 col-sm-6 col-6 mt-sm-4 mt-3">
								<a href="../../../../requested_product/{{User}}/Books And Documents">
									<div class="serhny-item mt-2">
										<span class="fa fa-book" aria-hidden="true"></span>
										<p>Books and Documents</p>
									</div>
								</a>
							    </div>
								<div class="col-md-3 col-sm-6 col-6 mt-sm-4 mt-3">
									<a href="../../../../requested_product/{{User}}/Country Flags">
										<div class="serhny-item mt-2">
											<span class="fa fa-flag" aria-hidden="true"></span>
											<p>Country Flags</p>
										</div>
									</a>
								</div>
								<div class="col-md-3 col-sm-6 col-6 mt-sm-4 mt-3">
									<a href="../../../../requested_product/{{User}}/Marine Code Flags">
										<div class="serhny-item mt-2">
											<span class="fa fa-flag-checkered" aria-hidden="true"></span>
											<p>Marine Code Flags</p>
										</div>
									</a>
								</div>
							</div>
							<!-- /give-set1-->
						</div>
					</div>
				</div>
		</section>
		<!-- //services-1-->
		<!--services-2-->
		<section class="w3l-services-2">
			<div class="services-2-content py-5" id="services">
				<div class="container py-lg-5 py-md-4">
					<div class="row">
						<div class="col-lg-4 column1 align-self pr-lg-4">
							<h4>Parts And Machinery</h4>
						</div>
						<div class="col-lg-8 column2 mt-lg-0 mt-sm-5 mt-sm-4 mt-3">
							<div class="row">
								<div class="col-md-3 col-sm-6 col-6">
									<a href="../../../../requested_product/{{User}}/Automobiles">
										<div class="serhny-item">
											<span class="fa fa-car"
												aria-hidden="true"></span>
											<p>Automobiles</p>
										</div>
									</a>
								</div>
								<div class="col-md-3 col-sm-6 col-6">
									<a href="../../../../requested_product/{{User}}/Bicycles And Scooters">
										<div class="serhny-item">
											<span class="fa fa-bicycle" aria-hidden="true"></span>
											<p>Bicycles And Scooters</p>
										</div>
									</a>
								</div>



							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- //services-2-->
		<!--w3l-faq-6 -->

	<!--//services-->
	<!--//services-->
	<!-- footer-28 block -->
	<section class="w3l-footer">
		<footer class="footer-28">
			<div class="footer-bg-layer">
				<div class="container py-lg-3">


				<div class="midd-footer-28 align-center py-lg-4 py-3 mt-5">
					<div class="container">
						<p class="copy-footer-28 text-center"> &copy; 2022 UBuy. All Rights Reserved.</p>
					</div>
				</div>
			</div>
		</footer>

		<!-- move top -->
		<button onclick="topFunction()" id="movetop" title="Go to top">
			<span  class="fa fa-arrow-up"  aria-hidden="true"></span>
		</button>
		<script>
			// When the user scrolls down 20px from the top of the document, show the button
			window.onscroll = function () {
				scrollFunction()
			};

			function scrollFunction() {
				if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
					document.getElementById("movetop").style.display = "block";
				} else {
					document.getElementById("movetop").style.display = "none";
				}
			}

			// When the user clicks on the button, scroll to the top of the document
			function topFunction() {
				document.body.scrollTop = 0;
				document.documentElement.scrollTop = 0;
			}
		</script>
		<!-- /move top -->
	</section>
	<!-- //footer-28 block -->



	</div>
	<script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
	<!--/top-nav-->
	<script src="{% static 'assets/js/jquery-2.1.4.min.js' %}"></script>
	<script src="{% static 'assets/js/modernizr.custom.js' %}"></script>
	<script src="{% static 'assets/js/classie.js' %}"></script>
	<script>
		var menuLeft = document.getElementById('cbp-spmenu-s1'),
			showLeftPush = document.getElementById('showLeftPush'),
			body = document.body;

		showLeftPush.onclick = function () {
			classie.toggle(this, 'active');
			classie.toggle(body, 'cbp-spmenu-push-toright');
			classie.toggle(menuLeft, 'cbp-spmenu-open');
			disableOther('showLeftPush');
		};

		function disableOther(button) {
			if (button !== 'showLeftPush') {
				classie.toggle(showLeftPush, 'disabled');
			}
		}
	</script>
	<!--//top-nav-->
	<!-- disable body scroll which navbar is in active -->
	<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>


		<script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
	<!--/top-nav-->
	<script src="{% static 'assets/js/jquery-2.1.4.min.js' %}"></script>
	<script src="{% static 'assets/js/modernizr.custom.js' %}"></script>
	<script src="{% static 'assets/js/classie.js' %}"></script>
	<script>
		var menuLeft = document.getElementById('cbp-spmenu-s1'),
			showLeftPush = document.getElementById('showLeftPush'),
			body = document.body;

		showLeftPush.onclick = function () {
			classie.toggle(this, 'active');
			classie.toggle(body, 'cbp-spmenu-push-toright');
			classie.toggle(menuLeft, 'cbp-spmenu-open');
			disableOther('showLeftPush');
		};

		function disableOther(button) {
			if (button !== 'showLeftPush') {
				classie.toggle(showLeftPush, 'disabled');
			}
		}
	</script>
	<!--//top-nav-->
	  <!-- libhtbox -->
	  <script src="{% static 'assets/js/lightbox-plus-jquery.min.js' %}"></script>
	<!-- stats number counter-->
	<script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.countup.js' %}"></script>
	<script>
		$('.counter').countUp();
	</script>
	<!-- //stats number counter -->
	<script src="{% static 'assets/js/owl.carousel.js' %}"></script>
	<!-- script for banner slider-->
	<script>
		$(document).ready(function () {
			$('.owl-one').owlCarousel({
				loop: true,
				margin: 0,
				nav: false,
				responsiveClass: true,
				autoplay: true,
				autoplayTimeout: 5000,
				autoplaySpeed: 1000,
				autoplayHoverPause: false,
				responsive: {
					0: {
						items: 1,
						nav: false
					},
					480: {
						items: 1,
						nav: false
					},
					667: {
						items: 1,
						nav: true
					},
					1000: {
						items: 1,
						nav: true
					}
				}
			})
		})
	</script>
	<!-- //script -->
	<!-- /script-blogs-->
	<script>
		$(document).ready(function () {
			$('.owl-two').owlCarousel({
				loop: true,
				margin: 30,
				nav: false,
				responsiveClass: true,
				autoplay: true,
				autoplayTimeout: 5000,
				autoplaySpeed: 1000,
				autoplayHoverPause: false,
				responsive: {
					0: {
						items:2,
						nav: false
					},
					480: {
						items:2,
						nav: false
					},
					700: {
						items: 2,
						nav: false
					},
					1090: {
						items: 3,
						nav: false
					}
				}
			})
		})
	</script>
	<!-- //script-blogs-->
	<!-- script for owlcarousel -->
	<script>
		$(document).ready(function () {
			$('.owl-testimonial').owlCarousel({
				loop: true,
				margin: 0,
				nav: false,
				responsiveClass: true,
				autoplay: true,
				autoplayTimeout: 5000,
				autoplaySpeed: 1000,
				autoplayHoverPause: false,
				responsive: {
					0: {
						items: 1,
						nav: false
					},
					480: {
						items: 1,
						nav: false
					},
					667: {
						items: 1,
						nav: false
					},
					1000: {
						items: 1,
						nav: false
					}
				}
			})
		})
	</script>
	<!-- script for owlcarousel -->
	<!-- disable body scroll which navbar is in active -->
	<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>