
{% load static %}

<!doctype html>
<html lang="zxx">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>UBuy
	</title>
	<!-- Template CSS -->
	<link rel="stylesheet" href="{% static 'assets/css/style-starter.css' %}">
	<!-- Template CSS -->

	<link href="//fonts.googleapis.com/css?family=Spartan:400,500,600,700,900&display=swap" rel="stylesheet">

	<!-- Template CSS -->
</head>

<body class="cbp-spmenu-push">

	<div class="main buttonset">
		<!--/tophny-header-->
		<div class="tophny-header" style="background-color: #F5F5F5; position: fixed;border-radius: 10px;top: -7px;width: 100%; box-shadow: 0px 3px 2px #1616164d;">

			<div class="container">
				<div class="hny-topgds">
					<div class="menu-notify">

					</div>
					<div class="logo text-center">
						<h1><a class="navbar-brand"  href="main.html">

											<a  class="navbar-brand" href="#main.html">
												<img src="{% static 'assets/images/PZONE LOGO.png' %}"style="width:90px;height:55px" alt="Your logo" title="Your logo" style="height:35px;" />
											</a>
					</div>

				</div>
			</div>
			<!--//tophny-header-->
		</div>
		<!--//tophny-header-->

		<!--/contact-->

		<!-- /contact-form -->
        <div style="height: 5vmax;"></div>
		<section class="w3l-contact-main">
			<div class="contact-infhny py-5">
				<div class="FlexContainer1" id="FlexContainer1">
					<a href="../../../../Set_Image/{{User}}"><img src="../static/media/Clients/{{User}}.jpg?<?php echo filetime('{{User}}.jpg')"   style="width:150px ;height:150px;border-radius: 100px;border-width: 2px;border-color: black;"></a>
				</div>
				<div class="container py-lg-3">

					<div class="title-content text-left mb-lg-4 mb-4">


						<h4 style="text-align: center;color: rgb(32, 56, 134);" >{{User}}</h4>
						<p style="text-align: center;padding-top: 5px;">How do you want customize your account! </p>
					</div>
					<div class="row align-form-map">
						<section class="w3l-features-4" id="services">
							<div class="features4-block py-5">
								<div class="container py-lg-3">
									<div class="features4-grids text-left row">
										<div class="features4-grid">
											<div class="features4-grid-inn">
												<div class="icon-fea4">
													<span class="fa fa-address-card-o" aria-hidden="true"></span>
												</div>
												<h5><a href="../../../../edit_basic/{{User}}">Basic Infomations</a></h5>
												<p>Change your name or other Infomations<span class="p-ab"></span> </p>
												<div class="read-arrow text-right mt-md-4 mt-3">
													<a href="../../../../edit_basic/{{User}}"><span class="fa fa-arrow-right"
															aria-hidden="true"></span></a>
												</div>
											</div>
										</div>
										<div class="features4-grid">
											<div class="features4-grid-inn">
												<div class="icon-fea4">
													<span class="fa fa-shield" aria-hidden="true"></span>
												</div>
												<h5><a href="../../../../Set_pass/{{User}}">Security</a></h5>
												<p>Explore more ways to protect your account<span class="p-ab"></span> </p>
												<div class="read-arrow text-right mt-md-4 mt-3">
													<a href="../../../../Set_pass/{{User}}"><span class="fa fa-arrow-right"
															aria-hidden="true"></span></a>
												</div>
											</div>
										</div>
										<div class="features4-grid">
											<div class="features4-grid-inn">
												<div class="icon-fea4">
													<span class="fa fa-ship" aria-hidden="true"></span>
												</div>
												<h5><a href="#URL">Track Orders</a></h5>
												<p>Get to know the statuse of your orders<span class="p-ab"></span> </p>
												<div class="read-arrow text-right mt-md-4 mt-3">
													<a href="../../../../requested_product/{{User}}/Automobiles"><span class="fa fa-arrow-right"
															aria-hidden="true"></span></a>
												</div>
											</div>
										</div>
										<div class="features4-grid">
											<div class="features4-grid-inn">
												<div class="icon-fea4">
													<span class="fa fa-book" aria-hidden="true"></span>
												</div>
												<h5><a href="#URL">My Interests</a></h5>
												<p>Easily find what you are looking for with no husle<span class="p-ab"></span> </p>
												<div class="read-arrow text-right mt-md-4 mt-3">
													<a href="../../../../requested_product/{{User}}/Wood Works"><span class="fa fa-arrow-right"
															aria-hidden="true"></span></a>
												</div>
											</div>
										</div>
										<div class="features4-grid">
											<div class="features4-grid-inn">
												<div class="icon-fea4">
													<span class="fa fa-credit-card" aria-hidden="true"></span>
												</div>
												<h5><a href="#URL">Payments</a></h5>
												<p>Set up your payment method to engage in transactions<span class="p-ab"> to improve your health.</span> </p>
												<div class="read-arrow text-right mt-md-4 mt-3">
													<a href="../../../../requested_product/{{User}}/Room Extras"><span class="fa fa-arrow-right"
															aria-hidden="true"></span></a>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</section>
						<div style="padding-top: 30px;" class="col-lg-6 form-inner-cont">

									<a href="../../../../log_out/{{User}}"><button type="submit" class="btn btn-contact">Logout</button>



						</div>

					</div>

				</div>

			</section>
		<!-- //contact-form -->
		<!-- /contact-form -->
		<div class="banner-buttons mt-4">


			 <a href="../../../../Validate_action/{{User}}" ><button style="background-color: #a81515;color: #f0f0f0d7;width: 100%;" class="btn btn-style-1 btn-primary"  type="submit"><i style="font-size: 20px;padding-right: 10px; " class="fa fa-bitbucket"></i>Delete Account</button></a>

		</div>

		<div  style="font-size: 15px;font-family: Arial, Helvetica, sans-serif;font-weight: bold;padding-top: 10px;text-align: center;">
			<a href="../../../../home/{{User}}" >Go Back</a>
			</div>
	</div>
	<script src="assets/js/jquery-3.3.1.min.js"></script>
	<!--/top-nav-->
	<script src="assets/js/jquery-2.1.4.min.js"></script>
	<script src="assets/js/modernizr.custom.js"></script>
	<script src="assets/js/classie.js"></script>
	<script>
		var menuLeft = document.getElementById('cbp-spmenu-s1'),
			showLeftPush = document.getElementById('showLeftPush'),
			body = document.body;

		showLeftPush.onclick = function () {
			classie.toggle(this, 'active');
			classie.toggle(body, 'cbp-spmenu-push-toright');
			classie.toggle(menuLeft, 'cbp-spmenu-open');
			disableOther('showLeftPush');
		};

		function disableOther(button) {
			if (button !== 'showLeftPush') {
				classie.toggle(showLeftPush, 'disabled');
			}
		}
	</script>
	<!--//top-nav-->
	<!-- disable body scroll which navbar is in active -->
	<script>
		$(function () {
			$('.navbar-toggler').click(function () {
				$('body').toggleClass('noscroll');
			})
		});
	</script>
	<script src="assets/js/owl.carousel.js"></script>
	<!-- script for banner slider-->
	<script>
		$(document).ready(function () {
			$('.owl-one').owlCarousel({
				loop: true,
				margin: 0,
				nav: false,
				responsiveClass: true,
				autoplay: true,
				autoplayTimeout: 5000,
				autoplaySpeed: 1000,
				autoplayHoverPause: false,
				responsive: {
					0: {
						items: 1,
						nav: false
					},
					480: {
						items: 1,
						nav: false
					},
					667: {
						items: 1,
						nav: true
					},
					1000: {
						items: 1,
						nav: true
					}
				}
			})
		})
	</script>
	<!-- //script -->
	<!-- script for owlcarousel -->
	<script>
		$(document).ready(function () {
			$('.owl-testimonial').owlCarousel({
				loop: true,
				margin: 0,
				nav: false,
				responsiveClass: true,
				autoplay: true,
				autoplayTimeout: 5000,
				autoplaySpeed: 1000,
				autoplayHoverPause: false,
				responsive: {
					0: {
						items: 1,
						nav: false
					},
					480: {
						items: 1,
						nav: true
					},
					667: {
						items: 1,
						nav: true
					},
					1000: {
						items: 1,
						nav: true
					}
				}
			})
		})
	</script>
	<!-- script for owlcarousel -->
	<script>
		$(document).ready(function () {
			$('.owl-news').owlCarousel({
				stagePadding: 50,
				loop: true,
				margin: 40,
				nav: true,
				responsiveClass: true,
				autoplay: true,
				autoplayTimeout: 5000,
				autoplaySpeed: 1000,
				autoplayHoverPause: false,
				responsive: {
					0: {
						items: 1,
						nav: false
					},
					480: {
						items: 1,
						nav: true
					},
					667: {
						items: 2,
						nav: true
					},
					1000: {
						items: 3,
						nav: true
					}
				}
			})
		})
	</script>
	<!-- disable body scroll which navbar is in active -->
	<script src="assets/js/bootstrap.min.js"></script>